{% extends "layout.twig" %}

{% block content %}

    <h1>Страница пользователя</h1>
    <div class="row">

    {% for row in data %}
        <div class="col-md-4">
            <h2>Ваш логин: {{ row.login }}</h2>
            <p>Электронная почта: <a href="mailto:{{ row.email }}">{{ row.email }}</a></p>
        </div>
    {% endfor %}

    </div>


{% endblock %}